body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.error {
    border: 1px solid #FF0000 !important;
}

/* Brand *
/* ----------------------------- */

.brand img {
    width: 20px;
}

.admin-module {
    margin-bottom: 30px;
}

.admin-img-fixed-container {
    width: 100%;
    height: 105px;
    text-align: center;
    line-height: 105px;
}

.admin-img-fixed-container img {
    max-height: 105px;
}

.admin-text-centered {
    text-align: center;
}

.ribbon {
    z-index: 2000;
}